<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>杨海龙的博客</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap/5.3.2/css/bootstrap.css">
    </head>
    <body>
        <h1>{{ .content }}</h1>
        <scrip src="https://cdn.staticfile.org/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></scrip>
    </body>
</html>